<div class="flex flex-col text-lg text-center">

    <div class="flex flex-col w-full">
        <div class="flex flex-row w-full">
            <p class="flex flex-row w-full pl-6">Disponibilità persone:</p>
            <button (click)="reload()" class="flex justify-end items-end px-2"><span class=reload>&#x21bb;</span></button>
        </div>

        <p class="border-b-2 border-white pb-2 w-full"></p>
    </div>

    <div class="flex py-4 pt-6 w-full">
        <div class="flex w-1/2 pl-6">
            <p>Alessandro:</p>
        </div>

        <div class="flex justify-center w-1/2">
            <p [ngClass]="statusAlessandro === 'Online' ? 'text-green-600' : 'text-red-600'">{{statusAlessandro}}</p>
        </div>

    </div>
    <div class="flex py-4 w-full">
        <div class="flex w-1/2 pl-6">
            <p>Carmine:</p>
        </div>

        <div class="flex justify-center w-1/2">
            <p [ngClass]="statusCarmine === 'Online' ? 'text-green-600' : 'text-red-600'">{{statusCarmine}}</p>
        </div>

    </div>
    <div class="flex py-4 w-full">
        <div class="flex w-1/2 pl-6">
            <p>Daniele:</p>
        </div>

        <div class="flex justify-center w-1/2">
            <p [ngClass]="statusDaniele === 'Online' ? 'text-green-600' : 'text-red-600'">{{statusDaniele}}</p>
        </div>

    </div>
    <div class="flex py-4 w-full">
        <div class="flex w-1/2 pl-6">
            <p>Nicolas:</p>
        </div>

        <div class="flex justify-center w-1/2">
            <p [ngClass]="statusNicolas === 'Online' ? 'text-green-600' : 'text-red-600'">{{statusNicolas}}</p>
        </div>
    </div>