<div class="flex flex-col sm:flex-row text-center items-center w-full">
    <div class="flex">
        <p class="text-center w-full p-4 text-lg md:text-2xl md:pl-44">Benvenuto nella WebApp per gli inquilini della casa Muscio in via Piave 128!
        </p>
    </div>
    <div class="flex justify-end md:absolute w-full pr-6 sm:pt-6 md:pt-0">
        <button (click)="logout()">Logout</button>
    </div>
</div>

<div class="flex flex-col md:flex-row justify-center p-8 w-full">

    <div class="flex flex-col w-full md:w-2/6 md:max-w-md">
        <app-check-status></app-check-status>
    </div>

    <div class="w-full md:w-1/6"></div>

    <div class="flex flex-col w-full md:w-2/6 pt-6 md:pt-0 md:max-w-md">

        <div class="md:pb-6">
            <app-count-express></app-count-express>
        </div>
        <div>
            <app-notes></app-notes>
        </div>
    </div>

    <!-- <div class="flex flex-col w-full md:w-1/3"></div>

        <div class="flex flex-col w-full md:w-2/3">
            <div class="flex flex-col pt-4 md:pt-0">
                <p class="text-base text-center md:text-lg border-b-2 border-white pb-2">Calendario</p>
            </div>
        </div>
    -->

</div>