<div class="flex flex-col text-lg">

    <div class="flex flex-row w-full">

        <div class="flex flex-row w-full">
            <p class="w-full pl-6" style="white-space: nowrap;">Note</p>

            <div div class="flex flex-row flex-nowrap justify-end items-end pr-2 w-full text-sm">
                <!-- Icona di caricamento -->
                <button (click)="reloadNotes()" class="flex">
                    <span [ngClass]="loading ? 'icon-rotate' : ''">&#x21bb;</span>
                </button>
            </div>
        </div>

    </div>

    <p class="border-b-2 border-white pb-2 w-full"></p>
</div>

<div class="flex flex-col py-4 px-6 w-full">

    <!-- Textbox -->
    <textarea [(ngModel)]="textareaContent.text"
        class="w-full h-[200px] md:h-[316px] border-2 border-slate-800 resize-none text-black"></textarea>

        <div class="flex flex-row justify-end items-end pt-2 pr-2 w-full">
            
                <!-- Mostra l'icona di salvataggio -->
                <div *ngIf="saving; else save">
                    <button>Salvato!</button>
                </div>

                <ng-template #save>
                    <button (click)="saveNotes()">Salva</button>
                </ng-template>

        </div>
</div>