<div class="flex flex-col text-lg text-center">

    <div class="flex flex-col w-full">
        <div class="flex flex-row w-full">
            <p class="flex pl-6 w-2/3">Conta corriere:</p>
            <div *ngIf="resetting; else reset">
                <!-- Mostra l'icona di caricamento -->
                <p class="text-xs flex w-1/3 pr-2">Resettati!</p>
            </div>

            <ng-template #reset>
                <button (click)="resetCounter()" class="text-xs flex justify-end items-end w-1/3 pr-2">Reset count</button>
            </ng-template>

        </div>

        <p class="border-b-2 border-white pb-2 w-full"></p>
    </div>

    <div *ngFor="let item of countExpress" class="flex py-4 w-full">
        <div class="flex w-1/2 pl-6">
            <p>{{item.id}}:</p>
        </div>

        <div class="flex justify-center w-1/2">
            <button (click)="counterExpressMinus(item)" class="px-6">-</button>
            <p>{{item.value}}</p>
            <button (click)="counterExpressPlus(item)" class="px-6">+</button>
        </div>

    </div>
</div>