<div class="flex flex-col text-lg text-center">

    <div class="flex flex-col w-full">
        <div class="flex flex-row w-full">
            <p class="flex flex-row w-full pl-6">Disponibilità persone:</p>
            <button (click)="reload()" class="flex justify-end items-end px-2"><span
                    class=reload>&#x21bb;</span></button>
        </div>

        <p class="border-b-2 border-white pb-2 w-full"></p>
    </div>

    <div class="flex flex-col py-4 pt-6 w-full">

        <div *ngFor="let item of checkStatus" class="flex py-4 w-full">
            <div class="flex w-1/2 pl-6">
                <p>{{item.id}}:</p>
            </div>

            <div class="flex justify-center w-1/2">
                <div *ngIf="item.value === 'Loading'">Loading...</div>
                <p *ngIf="item.value != 'Loading'"
                    [ngClass]="item.value === 'Online' ? 'text-green-600' : 'text-red-600'">{{item.value}}</p>
            </div>
        </div>
    </div>

</div>