/* Stile per la modale */
.modal {
    display: none;
    @apply fixed top-0 left-0 w-full h-full;
    z-index: 9999;
  }
  
  .modal.open {
    @apply flex items-center content-center;
  }

  .modal-content {
    @apply text-black dark:text-white;
    @apply border-2;
    @apply border-black dark:border-white;
    @apply p-5;
    border-radius: 2px;
    width: 90%;
    max-width: 350px; 
    margin: 0 auto;
  }
  
  .modal-content h2 {
    @apply mt-0;
  }
