<div class="flex flex-col text-lg">

    <div class="flex flex-col w-full">
        <div class="flex flex-row w-full">

            <p class="flex justify-start w-full pl-6">Disponibilità:</p>

            <div class="flex flex-row justify-end items-end pr-2 w-full">
                <!-- Icona di caricamento -->
                <button (click)="reloadStatus()" class="flex">
                    <span [ngClass]="loading ? 'icon-rotate' : ''">&#x21bb;</span>
                </button>
            </div>      
            
        </div>

        <p class="border-b-2 border-white pb-2 w-full"></p>
    </div>

    <div class="flex flex-col py-4 w-full">

        <div *ngFor="let item of checkStatus" class="flex py-4 w-full">
            <div class="flex w-1/2 pl-6">
                <p>{{item.id}}:</p>
            </div>

            <div class="flex justify-center w-1/2">
                <div *ngIf="item.value === 'Loading'">Loading...</div>
                <p *ngIf="item.value != 'Loading'"
                    [ngClass]="item.value === 'Online' ? 'text-green-600' : 'text-red-600'">{{item.value}}</p>
            </div>
        </div>
    </div>

</div>